body { background: #ececec; }
body, h1,h2,h3,h4,h5,h6,p,a { font-family: "Open Sans", sans-serif; }

/** Misc Stuff **/
.content { padding-top: 70px; }
.muted { color: #a5a5a5; }
.hide { display: none; }
ul.nav { list-style-type: none; padding: 0; margin: 0;}
ul.nav li { float: left; }

.top { width: 100%; height: 70px; background: #0B4C44; position: fixed; z-index: 1; }
.top-bar { height: 70px; background: #0B4C44;  }
.top-bar .top-bar-section ul { background: transparent; }
.top-bar .top-bar-section ul li { height: 100%; }
.top-bar .top-bar-section ul li a:hover { background: grey; }

.top-bar .top-bar-section ul li.has-form { height: 100%; padding-top: 10px; background: transparent; }
.top-bar .top-bar-section ul li.has-form a { padding-top: 10px;  background: transparent; }

.top-bar-section li.active:not(.has-form) a:not(.button), .top-bar-section li:not(.has-form) a:not(.button) {
	height: 100%;
	padding: 0px 20px; 
	padding-top: 15px;
	background: transparent;
}

.top-bar-section li:not(.has-form) a:not(.button) {
	color: #ececec;
	font-size: 15px;
	font-weight: 700;
}

.top-bar-section li.active:not(.has-form) a:not(.button) {
	color: #eaeaea;
	border-bottom: 5px solid #eaeaea;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
	background: transparent;
	border-bottom: 5px solid;
}

.top-bar li.name h1 a { 
	font-size: 1.75em; 
	margin-top: 9px; 
}

.landing.header { 
	width: 100%;
	background: url('/img/sky2.png');
	height: 600px;
	min-height: 600px;
	background-position: top;
	background-size: 100% auto;
	background-repeat: no-repeat;
	padding-top: 210px;
	margin-bottom: 3em;
}
	.landing.header h1 { color: #0B4C44; font-size: 3em; padding: 0; margin: 0; }
	.landing.header button { float: right; color: white; }
.landing .feed h2, .landing .feed h3 { text-align: center; margin-bottom: 1em; }
.landing .feed ul { list-style-type: none; }

.discussion-bar { margin-top: 1em; margin-bottom: 1em; }
.discussion-bar ul li.active a { border-bottom: 3px solid #3498db; }
.discussion-bar ul li { padding: 0px 2px;}
.discussion-bar ul li a { padding: 3px 20px; }
.discussion-bar ul li a:hover { border-bottom: 3px solid #ccc; }

.topic { background: white; padding: 10px; box-shadow: 0px 1px 2px rgba(0,0,0,0.2); }
.topic div.up { position: absolute; top: 0; left: 0; margin: 0; }
.topic div.up h4 { font-weight: bold; padding-right: 0.5em; border-right: 1px solid #ddd; }
.topic div.up h4 a:hover { color: #535353;}
.topic .content { margin-left: 30px; }

.roadmap {  }

footer { width: 100%; min-height: 5em; margin-top: 3em; padding-top: 1em; background: #0B4C44; color: white; }
footer p { padding: 1em; }
