/** http://www.colourlovers.com/palette/2379813/Mango_Yogurt_Nestle **/

body { background: white; }
body, h1,h2,h3,h4,h5,h6,p,a { font-family: "Open Sans", sans-serif; }

/** Misc Stuff **/
.content { padding-top: 70px; }
.muted { color: #a5a5a5; }
.hide { display: none; }
ul.nav { list-style-type: none; padding: 0; margin: 0;}
ul.nav li { float: left; }

.top { width: 100%; height: 70px; background: #178EB3; position: fixed; z-index: 1; }
.top-bar { height: 70px; background: #178EB3;  }
.top-bar .name h1 a { color: white; font-size: 1.75em; margin-top: 9px;}
.top-bar .top-bar-section ul { background: transparent; }
.top-bar .top-bar-section ul li { height: 100%; }

.top-bar .top-bar-section ul li.has-form { height: 100%; padding-top: 10px; background: transparent; }
.top-bar .top-bar-section ul li.has-form a { padding-top: 10px;  background: transparent; }

.top-bar-section li.active:not(.has-form) a:not(.button), .top-bar-section li:not(.has-form) a:not(.button) {
	height: 100%;
	padding: 0px 20px; 
	padding-top: 15px;
	background: transparent;
}

.top-bar-section li:not(.has-form) a:not(.button) {
	transition: border-color 0.25s linear;
	font-size: 15px;
	font-weight: 700;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
	background: transparent;
	color: white;
	border-bottom: 5px solid #FCCA32;
}

.top-bar-section li.active:not(.has-form) a:not(.button) {
	border-bottom: 5px solid #FCCA32;
}

.top-bar-section li.active:not(.has-form) a:not(.button):hover {
	background:transparent;
}


.top-bar li.name h1 a { 
}

.landing.header { 
	width: 100%;
	background: url('/img/sky2.png');
	height: 600px;
	min-height: 600px;
	background-position: top;
	background-size: 100% auto;
	background-repeat: no-repeat;
	padding-top: 210px;
	margin-bottom: 3em;
}
	.landing.header h1 { color: #8c8c8c; font-size: 3em; padding: 0; margin: 0; }
	.landing.header button { float: right; color: white; }
.landing .feed h2, .landing .feed h3 { text-align: center; margin-bottom: 1em; }
.landing .feed ul { list-style-type: none; }

.discussion-bar { margin-top: 2em; }
.discussion-bar ul li.active a { color: #7D5A7B; border-bottom: 3px solid #8c8c8c; }
.discussion-bar ul li { padding: 0px 2px;}
.discussion-bar ul li a { color: #7D5A7B; padding: 3px 20px; }
.discussion-bar ul li a:hover { border-bottom: 3px solid #ccc; }

.topics { border: 0; width: 100%; margin-top: 2em; }
.topics tr th { color: #8c8c8c; }
.topics td.vote, .topics td.number { text-align: center; padding:0; }
.topics td.number { font-size: 1.5em; }
.topics td.vote a { display: block; font-size: 20px; width: 100%; height: 100%; line-height: 4.125rem; }
.topics td a {  }
.topics td a:hover { color: #8B9A9E; text-decoration: underline; }
.topics td.topic { padding: 10px 0; }
.topics td.topic h4, .topics td.topic p { margin: 0; }
.topics td.topic small { font-size: 90%; }
.topics ul.nav li { margin-left: 15px;  }

.roadmap {  }

footer { width: 100%; min-height: 5em; margin-top: 3em; padding-top: 1em; background: #178EB3; color: white; }
footer p { padding: 1em; }
