{{ template "discussions/nav" . }}
<div class="row topic">
	<div class="small-12 columns topic-body">

		<table class="topics">
			<tr>
				<th>#</th>
				<th>vote</th>
				<th>topic</th>
				<th>share</th>
			</tr>

		{{ range $i := .TestRange }}
			<tr>
				<td class="number muted">{{ . }}</td>
				<td class="vote"><a href="#" class="muted"><i class="fa fa-chevron-up"></i></a></td>
				<td class="topic">
					<h5><a href="#">Let's Talk: Misuse of public funds</a> <small class="muted">(linky.com)</small></h5>
					<small class="muted">5 points by <a href="#">jesseobrien</a> 3 days ago | <a href="#">200 comments.</a></small>
				</td>
				<td>
					<ul class="nav">
						<li><a href="#"><i class="fa fa-lg fa-facebook-square"></i></a></li>
						<li><a href="#"><i class="fa fa-lg fa-twitter-square"></i></a></li>
					</ul>
				</td>
			</tr>
		{{end}}

		</table>
		
		<div class="topic-content">


				</div>
	</div>
</div>
