<div class="row discussion-bar">
	<div class="small-7 small-centered columns">
		<ul class="bar nav">
			<li {{if eq .SubMenuItem "all" "" }} class="active" {{end}}>
				<a href="/discuss">all</a>
			</li>
			<li {{if eq .SubMenuItem "trending" }} class="active" {{end}}>
				<a href="/discuss?filter=trending">trending</a>
			</li>
			<li {{if eq .SubMenuItem "new" }} class="active" {{end}}>
				<a href="/discuss?filter=new">new</a>
			</li>
			<li {{if eq .SubMenuItem "mine" }} class="active" {{end}}>
				<a href="/discuss?filter=mine">my threads</a>
			</li>
			<li {{if eq .SubMenuItem "submit" }} class="active" {{end}}>
				<a href="/discuss/submit">submit</a>
			</li>
		</ul>
	</div>
</div>
