<div class="row roadmap">
	<div class="small-12 columns">

		<div class="row">
			<div class="small-3 columns">
				<img src="http://placehold.it/200x150" />
			</div>
			<div class="small-9 columns">
				<div class="panel">
					<h3>Code and Algorithms</h3>
					<p>Open source software has and can change the world as we know it. Most mobile phones and computing devices, even down to your TV run open source software. A place to share and talk about code and algorithms involving healthcare is something essential to making the world a better place.</p>
					<p>Often times in healthcare there are problems that have algorithms or solutions already attached to them, but no one to write the code to do the computing. Having a central place to collaborate and learn how to write and build libraries in the context of health would do a lot to further the way physicians make decisions.</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="small-3 columns">
				<img src="http://placehold.it/200x150" />
			</div>
			<div class="small-9 columns">
				<div class="panel">
					<h3>Collaboration</h3>
					<p></p>
				</div>
			</div>
		</div>
	</div>
</div>
